
@keyframes bgblink {
	0% {
		background:red;
	}
	50% {
		background:yellow;
	}
	100% {
		background:red;
	}

}
.celebrate {
	animation:bgblink;
	animation-duration:1s;
	animation-iteration-count: infinite;
}