/*reset*/
#memorygame,
#memorygame a, 
#memorygame article, 
#memorygame button, 
#memorygame div,
#memorygame canvas,
#memorygame h1,
#memorygame h2,
#memorygame h3,
#memorygame h4,
#memorygame h5,
#memorygame h6,
#memorygame img,
#memorygame li,
#memorygame nav,
#memorygame ol,
#memorygame p,
#memorygame span, 
#memorygame ul,
#memorygame video {
	margin: 0;
	padding: 0;
	outline: 0;
	line-height:14px;
	font-size: 12px;
	font-family: arial, sans-serif;
	vertical-align: baseline !important;
	box-sizing: border-box !important;
	list-style-type: none !important;
	text-decoration: none;
	user-select: none;
}
/*reset end*/